<div class="container.fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="jumbotron text-center content-alignment">
                <h1 class="display-4">Mongo NFL News Scraper</h1>
                <hr class="my-4">
                <p class="lead">A an application to gather news from around the league</h2>
            </div>
        </div>
    </div>
</div>

<div class="container.fluid">
    <div class="row">
        <div class="col-lg-12 card">
            <div class="card-header">
                <h4 class="display-4">
                    News From Around The NFL
                </h4>
            </div>
            <ul class="list-group list-group-flush">
                {{#if exists}}
                    {{#each Article}}
                        {{> article/article-block exists=true }}
                    {{/each}}
                {{/if}}

                {{#unless exists}}
                    {{> article/article-block exists=false}}
                {{/unless}}
            </ul>
        </div>
    </div>
</div>