body, html {
    height: 100vh;
    overflow: auto;
}

#bg {
    background-image: url("../img/nfl-scraper-background.jpg");  
    /* Full height */
    height: 86vh;
    min-width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.user-scrape {
    background: white;
    width: 50%;
    position: relative;
    margin: auto;
    border: #124171 solid 4px;
    border-radius: 10px;
    padding: 10px;
    color: red;
    top: 5vh;
}

#header-nav {
    background-color: #124171;
}

#header-title {
    color: white;
    font-size: larger;
}

.content-alignment {
    margin: auto;
    max-width: 80vw;
    position: relative;
    top: 10vh;

}

#scrape-news {
    background-color: #124171;
    width: 20vh;
    z-index: 50000;
    position: relative;
    top: 3vh;
}

.row {
    max-width: 100%;
}