body, html {
    height: 100vh;
    width: 100vw;
}

#bg {
    /* set full height and width of the image */
    height: 100%;
    width: 100%;

    /* set background image and position */
    background-image: url("../img/nfl-scraper-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}