body, html {
    height: 100vh;
    overflow: auto;
}

#bg {
    background-image: url("../img/nfl-scraper-background.jpg");  
    /* Full height */
    height: 100vh;
    min-width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}