
{{!-- <h1 class="user-scrape align-middle display-4 content-alignment">Scrape for Some News!</h1> --}}
<button id="scrape-news" class="btn btn-lg btn-primary content-alignment" data-id="{{this.id}}">SCRAPE</button>